<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Agenda</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="style/styleCss.css" />
</head>
<body>
	<nav class="menu">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Buscar por Data</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/cadastrar">Cadastrar evento</a></li>
			</ul>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Inicio</a></li>
			</ul>

		</div>
	</nav>

	<form method="post">

		<div class="row">

			<div>
				Data: <input type="date" value="" name="data" required="required" />
			</div>

			<button class="waves-effect waves-light btn" type="submit">Buscar</button>

		</div>
		<div>

			<table class="container">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Local</th>
						<th>Data</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="evento : ${eventos}">
						<td><span th:text="${evento.nome}"></span></td>
						<td><span th:text="${evento.local}"></span></td>
						<td><span th:text="${evento.data}"></span></td>
					</tr>
				</tbody>

			</table>

		</div>
	</form>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>


</html>
